<% layout('layouts/boilerplate') %>
<body>
    <h3>Edit Your Listing :</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <label>Title: </label>
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <br><br>
        <label>Description: </label>
        <textarea name="listing[description]"><%= listing.description %></textarea>
        <br><br>
        <label>Image: </label>
        <input type="text" name="listing[image]" value="<%= listing.image %>">
        <br><br>
        <label>Price: </label>
        <input type="number" name="listing[price]" value="<%= listing.price %>">
        <br><br>
        <label>Country: </label>
        <input type="text" name="listing[country]" value="<%= listing.country %>">
        <br><br>
        <label>Location: </label>
        <input type="text" name="listing[location]" value="<%= listing.location %>">
        <br><br>
        
        <button type="submit">Edit</button>
    </form>
</body>